.App{
    display: flex;
    flex-direction: column;
    // overflow-x: hidden; - imi rezolva scroll orizontal din cauza testimony-card
    //dar imi anuleaza scroll-snap
    header{
        scroll-snap-align: start;
        height: 100vh;
        width: 100%; 
        background-image:linear-gradient(to bottom, rgb(184, 156, 156), rgb(35, 1, 7));
        position: relative; 
        .bg{
            background-image: url('./assets/hero.jpg');
            height:100%;
            width:100%;
            opacity: 0.75;
            background-size:cover;
        }
        .text{
            position:absolute;
            bottom: 30%;
            left: 10%;
            width:100%;
            h1, p{
                color:white;
                text-shadow: 1px 1px 1px black;
            }
            h1{
                margin-bottom: 2rem;
            }
        }
    }
    .slide{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        scroll-snap-align: start;
        padding: 20px;
        min-height: 100vh;
        span{
            display: block;
            font-size: 70%;
        }
        .content{
            .photo{
                padding:10px;
                display: flex;
                flex-direction:column; 
                align-items: center;
                img{
                    width:150px;
                    height:150px;
                }
                .tonys-photo{
                    border-radius: 50%;
                    height:unset;
                }
            }
            .slide-text{
                p{
                    line-height:16px;
                }
                .about{
                    .about-item{
                        display:flex;
                        flex-direction: row;
                        align-items: center;
                        img{
                            width:70px;
                            margin-right:10px;
                        }
                    }
                }
                .testimonials{
                    width:100%;
                    display:flex;
                    flex-direction:row;
                    align-items: center;
                    position:relative;
                    button{
                        position:absolute;
                        font-size: 1.5rem;
                        background-color: rgba(170, 170, 143, 0.3);
                        border:none;
                        padding:5px;
                        border-radius:10px;
                        cursor:pointer;
                    }
                    .next-btn{
                        right:0;
                    }
                   .testimonials-container{
                        display:flex;
                        flex-direction:row; 
                        overflow-x: hidden;
                        scroll-behavior: smooth;
                        .testimonials-card{
                            background-color:rgb(244, 244, 244);
                            min-width:250px;
                            height: 300px;
                            margin: 0 5px;
                            padding: 1rem 0.5rem;
                            border-radius:5px;
                            display:flex;
                            flex-direction:column;
                            justify-content: center;
                        }
                   }
                }
            }
        }
    }
    .get-started{
        scroll-snap-align: start;
        width:100%; 
        min-height:100vh;
        padding: 20px;
        display:flex;
        flex-direction:column;
        justify-content: center;
        // background-color: #555;
        
        img{
            width:100%;
        }
    }
}
@media (min-width: 768px){
    .App{
        .slide{
            .content{
                min-height:400px;
                height:100%;
                margin:auto 0;
                display:flex; 
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                .slide-text{
                    width:75%;
                    order:1; 
                    p{
                        line-height:19px;
                    }
                    .about{
                        display:flex;
                        flex-direction:row;
                        .about-item{
                            display:flex;
                            flex-direction:column;
                            margin-right:10px;
                            text-align:center;
                            p{
                                line-height: 21px;
                            }
                        }
                    }
                }
                .photo{
                    order:2;
                }
            }
        }
    }
}
@media (min-width:1024px){
    .App{
        .slide{
            padding:40px;
        }
    }
}