*, *::before, *::after {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
html{
  height:100%;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
body {
  font-family: 'Avenir', sans-serif;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h2{
  margin-bottom: 2rem;
}
p{
  margin:10px 0;       
}
@media(min-width:768px){
  body{
    font-size:18px;
  }
}
